<h1>Snake Listings</h1>

<% @listings.each do |listing| %>
    <div class="card">
        <%= image_tag listing.picture if listing.picture.attached? %>
        <p><%= listing.title %></p>
        <p><%= listing.description %></p>
        <p><%= listing.breed.name %></p>
        <%= link_to "edit", edit_listing_path(listing.id) %>
        <%= link_to "show", listing_path(listing.id) %>
    </div>
<% end %>