<!DOCTYPE html>
<html>
  <head>
    <title>LeglessListings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <%= link_to "logout", destroy_user_session_path, method: "DELETE" if user_signed_in? %>

    <%= yield %>
  </body>
</html>
